<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibeport.ai.mapper.AiMapper">
    <insert id="mergeArtist">
        INSERT IGNORE INTO TB_ARTIST (
            ARTIST_NM
            , REG_TIME
        ) VALUES (
            #{artistNm}
            , NOW()
        )
    </insert>

    <insert id="mergeConcertInfo">
        INSERT INTO TB_CONCERT_INFO (
            ARTIST_NM_KOR
            , ARTIST_NM_FOR
            , CONCERT_YEAR
            , CONCERT_MONTH
            , CONCERT_DATE
            , CONCERT_TIME
            , VENUE
            , TCT_SITE
            , TCT_OPEN_AT
            , EMAIL_YN
            , POP_SCORE
            , REG_TIME
        ) VALUES (
            #{artistNmKor}
            , #{artistNmFor}
            , #{concertYear}
            , #{concertMonth}
            , #{concertDate}
            , #{concertTime}
            , #{venue}
            , #{tctSite}
            , #{tctOpenAt}
            , #{emailYn}
            , #{popScore}
            , NOW()
        )
        ON DUPLICATE KEY UPDATE
            ARTIST_NM_KOR = VALUES(ARTIST_NM_KOR)
            , ARTIST_NM_FOR = VALUES(ARTIST_NM_FOR)
            , CONCERT_YEAR = VALUES(CONCERT_YEAR)
            , CONCERT_MONTH = VALUES(CONCERT_MONTH)
            , CONCERT_DATE = VALUES(CONCERT_DATE)
            , CONCERT_TIME = VALUES(CONCERT_TIME)
            , VENUE = VALUES(VENUE)
            , TCT_SITE = VALUES(TCT_SITE)
            , TCT_OPEN_AT = VALUES(TCT_OPEN_AT)
    </insert>

    <insert id="insertMailLog">
        INSERT INTO TB_EMAIL_LOG (
            SUBJECT
            , EMAIL
            , REG_TIME
        ) VALUES (
            #{subject}
            , #{email}
            , NOW()
        )
    </insert>

    <insert id="insertArtistMsg">
        INSERT INTO TB_ARTIST_MSG (
            ARTIST_NM_KOR
            , CONCERT_YEAR
            , CONCERT_MONTH
            , CONCERT_DATE
            , SUBJECT
            , CONTENT
            , REG_TIME
        ) VALUES (
            #{artistNmKor}
            , #{concertYear}
            , #{concertMonth}
            , #{concertDate}
            , #{subject}
            , #{content}
            , NOW()
        )
    </insert>

    <select id="selectSavedList" parameterType="map" resultType="com.vibeport.ai.vo.ConcertInfoVo">
        SELECT A.CONCERT_NO     AS concertNo
            , A.ARTIST_NM_KOR   AS artistNmKor
            , A.ARTIST_NM_FOR   AS artistNmFor
            , A.CONCERT_YEAR    AS concertYear
            , A.CONCERT_MONTH   AS concertMonth
            , A.CONCERT_DATE    AS concertDate
            , A.CONCERT_TIME    AS concertTime
            , A.VENUE           AS venue
            , A.TCT_SITE        AS tctSite
            , A.TCT_OPEN_AT     AS tctOpenAt
            , A.EMAIL_YN        AS emailYn
            , A.POP_SCORE       AS popScore
            , A.REG_TIME        AS regTime
            , B.SEND_YN         AS sendYn
        FROM TB_CONCERT_INFO AS A
        LEFT OUTER JOIN TB_ARTIST_MSG AS B
          ON A.ARTIST_NM_KOR = B.ARTIST_NM_KOR
         AND A.CONCERT_YEAR = B.CONCERT_YEAR
         AND A.CONCERT_MONTH = B.CONCERT_MONTH
         AND A.CONCERT_DATE = B.CONCERT_DATE
        WHERE CONCAT(A.CONCERT_YEAR, '-', LPAD(A.CONCERT_MONTH, 2, '0'))
                BETWEEN CONCAT(#{frYear}, '-', LPAD(#{frMonth}, 2, '0'))
                    AND CONCAT(#{toYear}, '-', LPAD(#{toMonth}, 2, '0'))
    </select>

    <select id="selectEmailList" resultType="String">
        SELECT A.EMAIL
        FROM TB_EMAIL AS A
        WHERE USE_YN = 'Y'
    </select>

    <update id="updateSendYn">
        UPDATE TB_ARTIST_MSG
           SET SEND_YN = 'Y'
         WHERE ARTIST_NM_KOR = #{artistNmKor}
           AND CONCERT_YEAR = #{concertYear}
           AND CONCERT_MONTH = #{concertMonth}
           AND CONCERT_DATE = #{concertDate}
    </update>
</mapper>