<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibeport.auth.mapper.LoginMapper">

    <select id="findByEmail" parameterType="Map" resultType="com.vibeport.auth.domain.User">
        /* LoginMapper.findByEmail 이메일, 비밀번호로 사용자 조회 */
        SELECT USER_NO AS userNo
             , EMAIL AS email
             , USER_NAME AS userName
             , PASSWORD AS password
             , ADMIN_YN AS adminYn
             , LOCK_YN AS lockYn
             , LOCK_DATE AS lockDate
             , REG_DATE AS regDate
          FROM TB_USER
         WHERE EMAIL = #{email}
           AND PASSWORD = #{password}
    </select>

</mapper>