<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibeport.user.mapper.UserMapper">

    <select id="checkEmailExists" parameterType="String" resultType="Boolean">
        /* UserMapper.checkEmailExists 이미 가입된 이메일인지 확인 */
        SELECT EXISTS (
            SELECT 1
            FROM TB_USER
            WHERE EMAIL = #{email}
        )
    </select>

    <insert id="insertEmailVerificationCodes">
        /* UserMapper.insertEmailVerificationCodes 이메일 인증 코드 삽입 */
        INSERT INTO TB_VERIF_CODE (
            CODE
            , EMAIL
            , CNT
            , REG_TIME
        ) VALUES (
            #{code}
            , #{email}
            , (SELECT CNT FROM (
                     SELECT IFNULL(COUNT(*), 0) + 1 AS CNT
                     FROM TB_VERIF_CODE
                     WHERE EMAIL = #{email}
            ) AS A)
            ,NOW()
        )
    </insert>

    <select id="selectIsRightCode" parameterType="VerifCodeVo" resultType="boolean">
        /* UserMapper.selectIsRightCode 이메일 인증 코드가 올바른지 확인 */
        SELECT EXISTS (
            SELECT 1
            FROM TB_VERIF_CODE
            WHERE EMAIL = #{email}
              AND CODE = #{code}
        )
    </select>

    <insert id="insertUser">
        /* UserMapper.insertUser 새로운 사용자 저장 */
        INSERT INTO TB_USER (
            USER_NO
            , EMAIL
            , USER_NAME
            , PASSWORD
            , ADMIN_YN
            , ROLE
            , LOCK_YN
            , LOCK_DATE
            , REG_DATE
        ) VALUES (
            #{userNo}
            , #{email}
            , #{userName}
            , #{password}
            , 'N'
            , 'USER'
            , 'N'
            , NULL
            , NOW()
        )
    </insert>

    <delete id="deletePreVerifCode">
        /* UserMapper.deletePreVerifCode 이전 인증 코드 삭제 */
        DELETE FROM TB_VERIF_CODE
        WHERE EMAIL = #{email}
    </delete>
</mapper>